.lines {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.lines label {
  display: inline-block;
  padding: 4em 3em;
  min-width: 18em;
  margin: .5em;
  font: inherit;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.lines div:nth-of-type(1) label {
  background: #b36305;
}

.lines div:nth-of-type(2) label {
  background: #e32017;
}

.lines div:nth-of-type(3) label {
  background: #ffd300;
}

.lines div:nth-of-type(4) label {
  background: #00782a;
}

.lines div:nth-of-type(5) label {
  background: #f3a9bb;
}

.lines div:nth-of-type(6) label {
  background: #a0a5a9;
}

.lines div:nth-of-type(7) label {
  background: #9b0058;
}

.lines div:nth-of-type(8) label {
  background: #000000;
}

.lines div:nth-of-type(9) label {
  background: #003688;
}

.lines div:nth-of-type(10) label {
  background: #0098d4;
}

.lines div:nth-of-type(11) label {
  background: #95cdba;
}

.lines label:hover,
.lines input[type="radio"]:focus + label {
  transform: scale(1.05);
  transition: 0.2s all;
}


@media screen and (max-width: 768px) {
  .lines {
    display: block;
  }

  .lines label {
    width: 100%;
    padding: 2.5em 3em;
  }
}